@font-face {
    font-family: 'Philosopher';
    src: url('../fonts/Philosopher-Regular.ttf') format('ttf'), url('../fonts/opensans.woff2') format('woff2');
    font-weight: normal;
  }

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensansbold.woff') format('woff'), url('../fonts/opensansbold.woff2') format('woff2');
    font-weight: bold;
}
