body {
    min-width: 320px;
    font-family: 'Geometria', sans-serif;
    color: @color;
    background-color: #F7E611;
    z-index: 0;
    position: relative;
}
main {
  margin: 0 auto;
  width: 100%;
}
.hidden, .invisible {
    display: none;
}
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .back {
    z-index: -2;
    left: -14%;
    width: 88%;
    height: auto;
  }

  .forward {
    z-index: -1;
    width: 560px;
    object-fit: cover;
    height: 320px;
    bottom: 0;
    transform: translate(-21.5%, 0);
  }
@media (min-width: 768px) {
  body {
    background-color: #fff;
  }
}
  @media (min-width: 1440px) {
    
    main {
      width: 100%;
      max-width: 1440px;
    }
    .hidden {
      display: block;
    }

    .forward {
      width: 860px;
      height: 490px;
      left: 47.3%;
      bottom: 4%
    }
    .back {
      width: 800px;
      height: 525px;
      left: 0;
      top: 7px;
    }
  }