.banner {
    position: relative;
}
.banner__company-slogan {
    font-family: 'Philosopher';
    font-size: 9px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0px;
    color: fade(#000000, 50%);
    z-index: 1;

    position: absolute;
    top: 151px;
    left: -6%;
    transform: rotate(-90deg);
}

.banner__carousel-wrap::after {
    content: "";
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='177' height='282' viewBox='0 0 177 282'%3E%3Cmetadata%3E%3C%3Fxpacket begin='﻿' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c140 79.160451, 2017/05/06-01:08:21 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000005; stroke-linecap: round; stroke-linejoin: round; stroke-width: 1px; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Прямоугольник_1' data-name='Прямоугольник 1' class='cls-1' d='M349.5,266.5H525.5l-38.2,281H349.5v-281Z' transform='translate(-349 -266)'/%3E%3C/svg%3E%0A");
    width: 190px;

height: 155px;
position: absolute;
right: -17px;
top: -105px;
background-size: 100%;
background-repeat: no-repeat;
background-position: -10px -150px;
transform: rotate(90deg);
z-index: -3;
}


.banner__carousel {
    //background-color: fade(@bg-color, 60%);
    width: 320px;
    height: 488px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    margin-top: 25px;

    &::after, &::before  {
        content: "";
        display: block;
        position: absolute;
    }
    &::after {
        z-index: -2;
        top: 0;
        width: 235px;
        height: 100%;
        background-color: fade(@bg-color, 80%);
    }
    &::before {
        height: 320px;
        width: 320px;
        z-index: 0;
        top: 168px;

        background-color: fade(@bg-color, 60%);
    }
    
}
.banner__carousel-img {
    position: absolute;
}
.banner__carousel-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    
    width: 100%;

    position: absolute;
    bottom: 128px;
}

.banner__carousel-btn {
    background-color: transparent;
    border: 0;
    font-size: 0;
    padding: 0;

    height: 36px;
    width: 36px;
    margin: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;


    &--left {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='36' viewBox='0 0 20 36'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B opacity: 0.4; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Shape_20114_20copy_203' data-name='Shape%2520114%2520copy%25203' class='cls-1' d='M20,18.084,2.794,36,0,33.07,14.473,18,0,2.93,2.794,0,20,17.917,19.92,18Z' transform='translate(20 36) rotate(180)'/%3E%3C/svg%3E%0A");
    }
    &--right {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='36' viewBox='0 0 20 36'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B opacity: 0.4; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Shape_20114_20copy_203' data-name='Shape%2520114%2520copy%25203' class='cls-1' d='M20,18.084,2.794,36,0,33.07,14.473,18,0,2.93,2.794,0,20,17.917,19.92,18Z'/%3E%3C/svg%3E%0A");
    }
}

