.decoration {
    position: relative;
}
.decoration-circle__inner {
    height: 56px;
    margin: 0 auto;
    width: 109px;
    overflow: hidden;

    & svg {
        width: 109px;
    }
}

.decoration-circle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.decoration-transparent {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-weight: 500;
}

.decoration-transparent__letter {
    position: absolute;
    

    &--a {
        top: 148px;
        left: 70px;
        z-index: 2;
    }
    &--g {
        top: 133px;
        left: 46%;
        z-index: -1;
    }
    &--e {
        top: 54px;
        right: 63px;
    }
}


.decoration-affinage__block-first::before, .decoration-affinage__block-first::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
}

.decoration-affinage__block-first::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.802' height='24.213' viewBox='0 0 23.802 24.213'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: none; stroke: %23000; stroke-linecap: round; stroke-linejoin: round; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='path14' class='cls-1' d='M300.3-815.109c-.411,0-.822-.205-1.233-.205a4.491,4.491,0,0,1-1.027-.616,4.3,4.3,0,0,1-.822-1.232,11.463,11.463,0,0,1-1.027-1.643l-7.6-18.694h-1.027L277.5-814.287h22.8v-.822' transform='translate(-277 838)'/%3E%3C/svg%3E%0A");
    bottom: 30px;
    left: 44px;
}

.decoration-affinage__block-first::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.802' height='23.213' viewBox='0 0 22.802 23.213'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23131212; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='path14' class='cls-1' d='M300.3-815.109c-.411,0-.822-.205-1.233-.205a4.491,4.491,0,0,1-1.027-.616,4.3,4.3,0,0,1-.822-1.232,11.463,11.463,0,0,1-1.027-1.643l-7.6-18.694h-1.027L277.5-814.287h22.8v-.822' transform='translate(-277.5 837.5)'/%3E%3C/svg%3E");
    right: 27px;
    bottom: 318px;
}